In [170]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [171]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [126]:
# Visit the mars nasa news site
url = 'https://redplanetscience.com'
browser.visit(url)
# Optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [127]:
#Tune HTML parser
html = browser.html
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('div.list_text')

In [74]:
#Scrape "content title" from <div /> 
slide_elem.find('div', class_='content_title')

In [75]:
# Use the parent element to find the first `a` tag and save it as `news_title`
news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

"NASA's Mars Helicopter Attached to Mars 2020 Rover "

In [76]:
# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_='article_teaser_body').get_text()
news_p

'The helicopter will be first aircraft to perform flight tests on another planet.'

### Featured Images

In [77]:
# Visit URL
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [78]:
# Find and click the full image button
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [79]:
# Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [80]:
# Find the relative image url
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
#img_url_rel = img_soup.find('img', class_='fancybox-image').get_src()
img_url_rel

'image/featured/mars2.jpg'

In [81]:
# Use the base URL to create an absolute URL
img_url = f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

In [82]:

#Create a new DataFrame from the HTML table. 
#Function "read.html" - specifically searches for and returns a list of tables found in the HTML
#By specifying index of [0] we're telling Pandas to pull only the first table it encounters, 
#or the first item in the list. Then, it turns the table into a DataFrame
df = pd.read_html('https://galaxyfacts-mars.com')[0] 
#Assign columns to the new DataFrame for additional clarity
df.columns=['description', 'Mars', 'Earth']
#By using the ".set_index()" function, we're turning the Description column into the DataFrame's index
#"inplace=True" means that the updated index will remain in place, wiyhout having to reassign the DataFrame to a new variable
df.set_index('description', inplace=True)
df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [83]:
#Convert our DataFrame back into HTML-ready code using the .to_html() function
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [84]:
#Turning off a light switch.
#browser.quit()

# D1: Scrape High-Resolution Mars’ Hemisphere Images and Titles

### Hemispheres

In [172]:
# 1. Use browser to visit the URL 
url = 'https://marshemispheres.com/'
browser.visit(url)

In [174]:
# 2. Create a list to hold the images and titles.
hemisphere_image_urls = []

In [207]:
# 3. Write code to retrieve the image urls and titles for each hemisphere.
for i in range(4):
    
    #create empty dictionary
    hemispheres = {}
    
    # Find and click the relevant hemisphere page link
    browser.find_by_css('a.product-item h3')[i].click()
    
    # Convert the browser html to a soup object and then quit the browser
    html = browser.html
    img_soup = soup(html, 'html.parser')
    
    # begin scraping
    # Look inside the <li /> tag for full image url
    list_item = img_soup.find('li')
    img_url_rel = list_item.find('a')['href']
    
    # look inside the <h2 /> tag for text with a class of title
    title_rel = img_soup.select_one('h2', class_='title').get_text()
    
    # Store dictionary values
    hemispheres = {"img_url": f'https://marshemispheres.com/{img_url_rel}', "title": title_rel}
    
    # append dictionary to list
    hemisphere_image_urls.append(hemispheres)
    
    # go back to url
    browser.back()

In [208]:
# 4. Print the list that holds the dictionary of each image url and title.
hemisphere_image_urls

[{'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [ ]:
# End the automated browsing session
browser.quit()